.content__current-group
  %p.content__current-group__name= @group.name
  %p.content__current-group__members
    Member:
    - @group.users.each do |user|
      %span
      = user.name
  = link_to "Edit", edit_group_path(@group), class: "content__current-group__edit"
