.content__current-group
  %p.content__current-group__name group1
  %p.content__current-group__members Member : yosukenn, yasuda
  = link_to "Edit", edit_group_path(@group), class: "content__current-group__edit"
