.side-bar__group
  - @groups.each do |group|
    = link_to group_messages_path(group), class: 'side-bar__group__link' do
      .side-bar__group__name
        = group.name
      .side-bar__group__message
        メッセージはまだありません。
