.side-bar__group
  %p{class: "side-bar__group__name"} group1
  %p{class: "side-bar__group__message"} こんにちは
.side-bar__group
  %p{class: "side-bar__group__name"} group2
  %p{class: "side-bar__group__message"} こんばんは
