.content__message
  %p.content__message__name yosukenn
  %p.content__message__date 2018/07/27 07:56
  %p.content__message__text 久しぶり
.content__message
  %p.content__message__name yasuda
  %p.content__message__date 2018/07/27 09:67
  %p.content__message__text 元気
