.wrapper
  / .notice
  /   %p.notice__sentense チャットグループが作成されました。
  .contents
    .side-bar
      = render partial: "my-account"
      = render partial: "group"
    .content
      .content__current-group
        %p.content__current-group__name group1
        %p.content__current-group__members Member : yosukenn, yasuda
        %a.content__current-group__edit{href: '#'}Edit
      = render partial: "message"
      = render partial: "form"
