!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Chatspace
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %div{class: "wrapper"}
      %div{class: "content"}
        %div{class: "left-content"}
          %div{class: "my_account"}
          %div{class: "group"}
          %div{class: "group"}
        %div{class: "right-content"}
          %div{class: "current_group"}
          %div{class: "message"}
          %div{class: "message"}
          %div{class: "message"}
          %form{class: "message_send"}
